.my-bg-red {
    background-color: red;
}


.parent {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    /* margin: 100px; */
    /* margin-top: 50%; */
}

/* .img1 {
    position: absolute;
    left: 50px;
    top: 50px;
} */

.box1 {
    height: 50%;
    width: 50%;
    background-color: red;
    margin: 25% auto;
    padding-top: 15%;
}

.box2 {
    height: 50%;
    width: 50%;
    background-color: blue;
    margin: 0px auto;
}