#box1 {
    max-width: 300px;
    /* min-width: 200px; */
    /* width: 400px; */
    height: 300px;
    border: 1px solid black;
    /* overflow-y: scroll; */
    margin-bottom: 40px;
}

#div-img {
    /* width: 800px; */
    border: 2px solid red;
    min-width: 300px;
    max-width: 900px;
    /* margin-top: 40px; */
}

img {
    width: 100%;
}
p {
    font-size: 1rem;
    letter-spacing: 2px;
}

#box2 {
    background-color: aquamarine;
    height: 400px;
    width: 400px;
    border:  3px solid black;
    margin: 0% auto;
    display: none;
}

.box4 {
    height: 400px;
    width: 400px;
    /* border: 2px solid gray; */
    /* box-shadow: 10px 10px 10px 10px gray; */
}
.box4:hover {
    /* box-shadow: 10px 10px 10px 10px gray; */
    border-top: 2px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
}