.cart {
    /* height: 300px; */
    max-width: 500px;
    border: 2px solid red;
    color: blue;
}

p {
    font-size: 1vw;
    /* font-size: 16px */
}

@media only screen and (max-width: 500px ) {
    p{
        font-size: 5vw;
    }
    .cart{
        background-color: aqua;
        color: black;
    }
}

.parent{
    width: 80%;
    border: 2px solid black;
    display: flex;
    /* justify-content: space-around; */
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}
.cart2 {
    background-color: aqua;
    height: 300px;
    width: 300px;
    border: 2px solid red;
}